.tagInputContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
}

.tag {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  background-color: var(--accent);
  border-radius: 5px;
  color: var(--white);
}

.removeTag {
  border: none;
  cursor: pointer;
  color: var(--accent);
  font-size: 20px;
  border-radius: 3px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-weight: 600;
}

.removeTag:hover {
  color: var(--accent);
}

.tagInput {
  flex-grow: 1;
  border: 0;
  border-bottom: 1px solid var(--accent);
  width: 100%;

  outline: none;
  color: var(--text);
  font-size: 16px;
  padding: 5px 0;

  background-color: transparent;
  width: 100%;
  margin-bottom: 10px;
}
