.buttons {
  overflow: hidden;
  min-width: 200px;
  display: none;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255,1);
  border-radius: 6px;
}

.buttons.open {
  display: flex;
  z-index: 100;
}

.button {
  background-color: transparent;
  padding: 10px;
}

.context_btn {
  width: 100%;
  background-color: transparent;
  padding: 10px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-weight: 500;
  transition: 0.3s background-color ease;
}

.context_btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.delete {
  color: #c71818;
}
