.modal {
  width: 100vw;
  height: 100vh;

  display: none;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal.open {
  display: flex;
}

.container {
  padding: 20px;
  max-width: 450px;
  width: 100%;
  margin: 0 10px;
}

.text {
  margin: 0;
  font-size: 18px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.close {
  white-space: nowrap;
  width: 100%;
  border: 1px solid var(--accent);
  background-color: transparent;
  color: var(--text);
  border-radius: 5px;
  padding: 10px;
  transition: 0.3s border-color ease-in-out;
}

.close:hover {
  border-color: var(--accent);
}

.current {
  background-color: var(--accent);
  border-color: var(--accent);
  color: var(--white);
}

/* Editing  */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_input {
  padding: 10px 0;
  border: 0;
  background-color: transparent;
  color: var(--text);
  outline: none;
  transition: 0.3s border-color ease-in-out;
  resize: none;
}

.form_input:focus,
.form_input:active {
  border-color: var(--accent);
}

.form_title {
  font-size: 20px;
  color: var(--text);
  font-weight: 600;
  border-bottom: 1px solid var(--accent);
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.desc_info {
  display: grid;
  grid-template-columns: 150px 1fr;
}

.desc_name {
  font-size: 14px;
}

.desc_value {
}

/* scrollbar  */

.scrollable_element::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.scrollable_element::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

.scrollable_element::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

.scrollable_element::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

/* Для Firefox */
.scrollable_element {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

.scrollable-element {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollable-element::-webkit-scrollbar {
  display: none;
}
