@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background: #e3cfeb;
  --text: #000000;
  --white: #ffffff;

  --accent: #2b2b2b;

  --current-font: "Montserrat", sans-serif;

  --scrollbar-width: 10px;
  --scrollbar-track-color: var(--accent);
  --scrollbar-thumb-color: var(--accent);
  --scrollbar-thumb-hover-color: var(--background);
}

* {
  box-sizing: border-box;
  font-family: var(--current-font);
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: rgb(238, 174, 202);
  background: -moz-linear-gradient(
    234deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background: -webkit-linear-gradient(
    234deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background: linear-gradient(
    234deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: var(--text);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 6px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.link {
  text-decoration: none;
  transition: 0.3s color ease-in-out;
}

.link:hover {
  color: var(--accent);
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
}

.pagination {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pagination-num {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px 20px;
  transition: 0.3s border-color ease-in-out;
}
.pagination-num:hover,
.pagination-num.active {
  border-color: var(--accent);
}
