.dropdown {
  position: relative;
}

.dropdownToggle {
  padding: 5px 0;
  border: 0;
  border-bottom: 1px solid var(--accent);
  cursor: pointer;
  color: var(--text);
}

.dropdownMenu {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
  transition: 0.3s all ease;
}

.dropdownItem:hover {
  background-color: var(--accent);
  color: var(--white);
}
