.item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}

.completed {
  opacity: 0.5;
}

.task_title {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  margin-right: auto;
}

.completed_title {
  text-decoration: line-through;
}

.task_favourite {
  margin-right: 10px;
}

.button {
  background-color: transparent;
  padding: 10px;
}

.context_button {
  padding: 5px 6px;
  font-weight: 500;
  background-color: transparent;
  border-radius: 5px;
  transition: 0.3s background-color ease-in-out;
}

.context_button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
