.item {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  column-gap: 10px;
  padding: 10px;
  transition: 0.3s background-color ease-in-out;
}

.completed {
  opacity: 0.5;
}

.completed .input {
  text-decoration: line-through;
}

.item:hover {
  background-color: rgba(49, 53, 66, 0.3);
}

.item:not(:last-child) {
  border-bottom: 2px solid var(--secondary);
}

.content {
  width: 60%;
}

.name {
  width: 80%;
  margin: 0;
  font-size: 18px;
}

.date {
  margin: 0;
  font-size: 14px;
  margin-left: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 10px;
}

.button {
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid var(--secondary);
  transition: 0.3s all ease-in-out;
}

.button:hover {
  border-color: var(--accent);
}

.button svg {
  width: 25px;
  height: 25px;
  color: #fff;
}

.input {
  max-width: 540px;
  width: 100%;
  resize: none;
  outline: none;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  color: var(--text);
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;

  transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
}

.active {
  background-color: var(--accent);
  border-color: var(--accent);
}

.form {
  display: flex;
  align-items: start;
  column-gap: 10px;
  margin-bottom: 10px;
}

.inputActive > .input {
  background-color: var(--accent);
  color: #fff;
}

.update {
  display: none;
}

.inputActive .update {
  display: block;
  color: var(--text);
  font-weight: 500;
  padding: 10px;
}
