.taskForm {
  padding: 40px 0;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}

.form {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.input {
  outline: none;
  border: 0;
  padding: 15px 10px;
  width: 100%;
  color: var(--text);
  font-size: 16px;
  border-radius: 5px 0px 0px 5px;
}

.button {
  white-space: nowrap;
  background-color: var(--accent);
  color: var(--white);
  padding: 17px 25px;
  border: 0;
  font-weight: 600;
  transition: 0.3s background-color ease-in-out;
  border-radius: 0px 5px 5px 0px;
}

.button:hover {
  background-color: var(--text);
}
