.footer {
  padding: 25px 0;
  border-top: 2px solid var(--secondary);
  margin-top: auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  font-size: 14px;
}
