.taskList {
  padding-bottom: 20px;
}

.taskList_title {
  display: inline-flex;
  font-weight: 600;
  font-size: 22px;
  margin: 0;
  margin-bottom: 10px;
  align-items: center;
  gap: 15px;
}

.taskList_span {
  font-size: 16px;
  color: var(--white);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.taskList_span::after {
  display: inline-block;
  content: "";
  width: 25px;
  height: 25px;
  background-color: var(--accent);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.list {
  margin-top: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
